.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

.site-header {
    background:#3f51b5;
    color: #fff;
    padding: 20px 5%;
    box-shadow: 0 1px 3px #999;
    margin: auto;
    text-align: center;
}

.site-header h1 {
    margin: 0;
    font-size: 20px;
    float: left;
}

.main-nav {
    float: right;
}

.main-nav ul {
    margin: 0px;
    list-style: none;
}

.main-nav ul li {
    display: inline;
    margin: 5px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    background:#eee;
    width: 960px;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.main-content h2 {
    margin-top: 0;
}

.about-img {
    height: 180px;
    margin: auto;
    padding: auto;
}


.main-footer {
    background: #333;
    color: #fff;
    padding: 5px 5%;
    text-align: center;
    margin: auto;
}

/* Contact CSS */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }