body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    width: auto;
    height: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

.site-header {
    background:#3f51b5;
    color: #fff;
    padding: 10px 5%;
    box-shadow: 0 1px 3px #999;
}

.site-header h1 {
    margin: 0;
    font-size: 20px;
    float: left;
}

.main-nav {
    float: right;
}

.main-nav ul {
    margin: 0;
    list-style: none;
}

.main-nav ul li {
    display: inline;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    background:#eee;
    text-align: center;
    width: 960px;
    height: 200px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-content h2 {
    margin-top: 0;
}

#container{
    width: 400px;
}
#floated{
    float: left;
    width: 150px;
}

.about-img {
    height: 150px;
    width: auto;
}

.main-footer {
    background: #333;
    color: #fff;
    padding: 10px 5%;
    text-align: center;
}